.backgroundImage {
  background-image: url('../../img/background.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}



@media only screen and (max-width: 375px) {
  .backgroundImage {
    background-image: url("../../img/mobile_background.jpg");
  }
}

@media only screen and (max-width: 500px) {
  .backgroundImage {
      background-image: url("../../img/small_background.jpg");
  }
}

@media only screen and (max-width: 950px) {
  .backgroundImage {
      background-image: url("../../img/medium_background.jpg");
  }
}
